body  {
    font-family: arial,sans-serif;
    line-height:1.6;
    margin:  0;
    padding: 0;
    color: #333;
    background: #f9f9f9;
}


header {
    background: linear-gradient(to right, #3445a8,#0f9d4f);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
}

nav {
    background: linear-gradient(to left, #0f9d27, #348da8);
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.section {
    padding: 20px;
    text-align: center;
}

.section h2 {
    color: #34a853
}

.grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}


.card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.card h3 {
    color: #0c8330;
}

footer {
    background: #34a853;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}